/* parent has data-scroll */
.text--turning {
  display: inline-block;
  font-weight: bold;
  perspective: 800px;
}

/* OUT state */
.text--turning[data-scroll='out'] .char {
  transform: rotateY(180deg);
  transition: transform 0.7s ease-in-out;
}

/* IN state */
.text--turning[data-scroll='in'] .char {
  transform: rotateY(0deg);
  transition: transform 0.7s ease-in-out;
}

.char {
  display: inline-block;
  transform-origin: center;
  backface-visibility: hidden;
}
